* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #414950; */
  background-color: #272727;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; }

.banner {
  height: 80vh;
  background-image: url(/assets/13530-min.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column-reverse;
}

.card-style:hover {
  background-color: #301515;
}

.card {
  padding: 30px 50px;
  border-radius: 20px;
  margin: 20px 10vw;
}

.movie { background-image: url(/assets/cinema.jpg) }
.branch { background-image: url(/assets/map.png);}

.newHover:hover {
  background-color: #3a3a3a;
}

@media (max-width: 1035px) { .banner { height: 60vh; } }
@media (max-width: 750px) { .banner { height: 45vh; } .card { margin: 20px 3vw } }
@media (max-width: 520px) { .banner { height: 35vh; } }
@media (max-width: 380px) { .banner { height: 30vh; } }