* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #272727;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; }

.banner {
  height: 80vh;
  background-image: url(/assets/13530-min.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column-reverse;
}

.card-style:hover { background-color: #301515; }

.card {
  padding: 30px 50px;
  border-radius: 20px;
  margin: 20px 10vw;
}

.movie { background-image: url(/assets/cinema.jpg) }
.branch { background-image: url(/assets/map.png);}
.newHover:hover { background-color: #3a3a3a; }
.list, .continue { margin: auto; font-family: 'Raleway', sans-serif; max-width: 950px;}
.continue { width: 100%; }

.form-field {
  background-color: transparent;
  color: white;
  padding: 7px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  transition: border-bottom-color .15s ease-in;
}

form {
  padding: 10px 40px 20px 40px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.form-field:focus {
  outline: 0;
  border-bottom-color: red;
}

label {
  margin: 10px 0px 8px 0px;
  display: block;
  font-size: 1.1rem;
}

textarea { resize: vertical; }

.btn-form {
  border: 1px solid olive;
  background-color: olive;
  margin: 8px;
}

.title-style { color: red; padding: 35px 10px 10px 10px; text-align: center;}

.btn-add {
    border-radius: 10px;
    padding: 5px 10px;
    width: 80%;
}

button, .btn-submit {
  background-color: red;
  border: 1px solid red;
  color: white;
  border-radius: 5px;
  width: 85px;
  padding: 5px;
}

.swal-modal { background-color: #272727; }
.swal-text, .swal-title { color: white; }

@media (max-width: 1035px) { .banner { height: 60vh; } }
@media (max-width: 750px) { .banner { height: 45vh; } .card { margin: 20px 3vw } }
@media (max-width: 580px) { .list { width: fit-content; } .continue { width: 70%; } }
@media (max-width: 520px) { .banner { height: 35vh; } }
@media (max-width: 470px) { .list { width: auto; margin-left: auto; margin-right: auto; } }
@media (max-width: 380px) { .banner { height: 30vh; } .list { width: initial; } .continue { width: 100%; } }